$icones: (
  account-login: "\e000",
  account-logout: "\e001",
  action-redo: "\e002",
  action-undo: "\e003",
  align-center: "\e004",
  align-left: "\e005",
  align-right: "\e006",
  aperture: "\e007",
  arrow-bottom: "\e008",
  arrow-circle-bottom: "\e009",
  arrow-circle-left: "\e00a",
  arrow-circle-right: "\e00b",
  arrow-circle-top: "\e00c",
  arrow-left: "\e00d",
  arrow-right: "\e00e",
  arrow-thick-bottom: "\e00f",
  arrow-thick-left: "\e010",
  arrow-thick-right: "\e011",
  arrow-thick-top: "\e012",
  arrow-top: "\e013",
  audio-spectrum: "\e014",
  audio: "\e015",
  badge: "\e016",
  ban: "\e017",
  bar-chart: "\e018",
  basket: "\e019",
  battery-empty: "\e01a",
  battery-full: "\e01b",
  beaker: "\e01c",
  bell: "\e01d",
  bluetooth: "\e01e",
  bold: "\e01f",
  bolt: "\e020",
  book: "\e021",
  bookmark: "\e022",
  box: "\e023",
  briefcase: "\e024",
  british-pound: "\e025",
  browser: "\e026",
  brush: "\e027",
  bug: "\e028",
  bullhorn: "\e029",
  calculator: "\e02a",
  calendar: "\e02b",
  camera-slr: "\e02c",
  caret-bottom: "\e02d",
  caret-left: "\e02e",
  caret-right: "\e02f",
  caret-top: "\e030",
  cart: "\e031",
  chat: "\e032",
  check: "\e033",
  chevron-bottom: "\e034",
  chevron-left: "\e035",
  chevron-right: "\e036",
  chevron-top: "\e037",
  circle-check: "\e038",
  circle-x: "\e039",
  clipboard: "\e03a",
  clock: "\e03b",
  cloud-download: "\e03c",
  cloud-upload: "\e03d",
  cloud: "\e03e",
  cloudy: "\e03f",
  code: "\e040",
  cog: "\e041",
  collapse-down: "\e042",
  collapse-left: "\e043",
  collapse-right: "\e044",
  collapse-up: "\e045",
  command: "\e046",
  comment-square: "\e047",
  compass: "\e048",
  contrast: "\e049",
  copywriting: "\e04a",
  credit-card: "\e04b",
  crop: "\e04c",
  dashboard: "\e04d",
  data-transfer-download: "\e04e",
  data-transfer-upload: "\e04f",
  delete: "\e050",
  dial: "\e051",
  document: "\e052",
  dollar: "\e053",
  double-quote-sans-left: "\e054",
  double-quote-sans-right: "\e055",
  double-quote-serif-left: "\e056",
  double-quote-serif-right: "\e057",
  droplet: "\e058",
  eject: "\e059",
  elevator: "\e05a",
  ellipses: "\e05b",
  envelope-closed: "\e05c",
  envelope-open: "\e05d",
  euro: "\e05e",
  excerpt: "\e05f",
  expand-down: "\e060",
  expand-left: "\e061",
  expand-right: "\e062",
  expand-up: "\e063",
  external-link: "\e064",
  eye: "\e065",
  eyedropper: "\e066",
  file: "\e067",
  fire: "\e068",
  flag: "\e069",
  flash: "\e06a",
  folder: "\e06b",
  fork: "\e06c",
  fullscreen-enter: "\e06d",
  fullscreen-exit: "\e06e",
  globe: "\e06f",
  graph: "\e070",
  grid-four-up: "\e071",
  grid-three-up: "\e072",
  grid-two-up: "\e073",
  hard-drive: "\e074",
  header: "\e075",
  headphones: "\e076",
  heart: "\e077",
  home: "\e078",
  image: "\e079",
  inbox: "\e07a",
  infinity: "\e07b",
  info: "\e07c",
  italic: "\e07d",
  justify-center: "\e07e",
  justify-left: "\e07f",
  justify-right: "\e080",
  key: "\e081",
  laptop: "\e082",
  layers: "\e083",
  lightbulb: "\e084",
  link-broken: "\e085",
  link-intact: "\e086",
  list-rich: "\e087",
  list: "\e088",
  location: "\e089",
  lock-locked: "\e08a",
  lock-unlocked: "\e08b",
  loop-circular: "\e08c",
  loop-square: "\e08d",
  loop: "\e08e",
  magnifying-glass: "\e08f",
  map-marker: "\e090",
  map: "\e091",
  media-pause: "\e092",
  media-play: "\e093",
  media-record: "\e094",
  media-skip-backward: "\e095",
  media-skip-forward: "\e096",
  media-step-backward: "\e097",
  media-step-forward: "\e098",
  media-stop: "\e099",
  medical-cross: "\e09a",
  menu: "\e09b",
  microphone: "\e09c",
  minus: "\e09d",
  monitor: "\e09e",
  moon: "\e09f",
  move: "\e0a0",
  musical-note: "\e0a1",
  paperclip: "\e0a2",
  pencil: "\e0a3",
  people: "\e0a4",
  person: "\e0a5",
  phone: "\e0a6",
  pie-chart: "\e0a7",
  pin: "\e0a8",
  play-circle: "\e0a9",
  plus: "\e0aa",
  power-standby: "\e0ab",
  print: "\e0ac",
  project: "\e0ad",
  pulse: "\e0ae",
  puzzle-piece: "\e0af",
  question-mark: "\e0b0",
  rain: "\e0b1",
  random: "\e0b2",
  reload: "\e0b3",
  resize-both: "\e0b4",
  resize-height: "\e0b5",
  resize-width: "\e0b6",
  rss-alt: "\e0b7",
  rss: "\e0b8",
  script: "\e0b9",
  share-boxed: "\e0ba",
  share: "\e0bb",
  shield: "\e0bc",
  signal: "\e0bd",
  signpost: "\e0be",
  sort-ascending: "\e0bf",
  sort-descending: "\e0c0",
  spreadsheet: "\e0c1",
  star: "\e0c2",
  sun: "\e0c3",
  tablet: "\e0c4",
  tag: "\e0c5",
  tags: "\e0c6",
  target: "\e0c7",
  task: "\e0c8",
  terminal: "\e0c9",
  text: "\e0ca",
  thumb-down: "\e0cb",
  thumb-up: "\e0cc",
  timer: "\e0cd",
  transfer: "\e0ce",
  trash: "\e0cf",
  underline: "\e0d0",
  vertical-align-bottom: "\e0d1",
  vertical-align-center: "\e0d2",
  vertical-align-top: "\e0d3",
  video: "\e0d4",
  volume-high: "\e0d5",
  volume-low: "\e0d6",
  volume-off: "\e0d7",
  warning: "\e0d8",
  wifi: "\e0d9",
  wrench: "\e0da",
  x: "\e0db",
  yen: "\e0dc",
  zoom-in: "\e0dd",
  zoom-out: "\e0de",
);

@each $icone, $hexa in $icones {
  .#{$icone}::before {
    content: $hexa;
  }
}
